name: CI

'on':
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  Test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: true
        python-version: "3.9"
    - name: Test with pytest
      run: uv run --with-requirements=requirements-dev.in --with-editable=. pytest -ra --cov .
  Typecheck:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: true
        python-version: "3.14"
        cache-dependency-glob: '**/requirements*.txt'
    - name: Run mypy
      run: uv run --with-requirements=requirements-typecheck.txt --with-editable=. mypy --strict .
  Lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: true
        cache-dependency-glob: '.pre-commit-config.yaml'
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-3|${{ hashFiles('.pre-commit-config.yaml') }}
    - run: uv run --no-sync --with pre-commit-uv pre-commit run --show-diff-on-failure --color=always
  Build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: true
    - run: uv build
    - uses: actions/upload-artifact@v5
      with:
        name: dist
        path: dist
  Publish:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs:
      - Build
    name: Upload release to PyPI
    runs-on: ubuntu-24.04
    environment:
      name: release
      url: https://pypi.org/p/valohai-utils/
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          verbose: true
          print-hash: true
